@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* custom font */
@font-face {
  font-family: secondary-font;
  src: url("../font/Miama.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* reset html font size */
html {
  font-size: 12px;
}

/* custom variable */
:root {
  --pera-color: rgba(255, 255, 255, 0.5);
  --first-pera-font-size: 1.33rem;
  --second-pera-font-size: 1.16rem;
  --laptop-width: 80.61%;
  --secondary-color: rgb(230, 83, 60);
  --button-color: rgb(230, 83, 60);
  --phone-width: 90%;
}
/* common css style */
body {
  font-family: "Inter", sans-serif;
  background-color: black;
  color: white;
}
body p {
  color: var(--pera-color);
}
.btn {
  background-color: var(--button-color);
  font-size: 1.5rem;
  padding: 16px 40px;
  border: 1px solid var(--button-color);
  border-radius: 42px;
  color: white;
  display: inline-block;
  text-decoration: none;
  transition: 0.7s;
}
.btn:hover {
  background-color: transparent;
  color: var(--button-color);
}

/* Header  */
header {
  background-image: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
  background-color: black;
  padding-top: 74px;
}

/* Nav section */
nav {
  width: var(--laptop-width);
  margin: 0 auto 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h2 {
  font-size: 3rem;
  font-weight: 800;
  color: var(--secondary-color);
}

nav > ul {
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
}
nav ul,
i {
  list-style: none;
  font-size: 1.5rem;
}
nav li a {
  text-decoration: none;
  padding: 10px 22px;
  display: inline-block;
  border-radius: 39px;
  transition: 0.5s;
  font-weight: 600;
}
nav li a:hover {
  background-color: var(--secondary-color);
}
.icon {
  display: none;
}

/* Banner section */
.banner_container {
  width: var(--laptop-width);
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}
.banner_container h1 {
  font-size: 6.5rem;
  font-size: 78px;
  font-weight: 900;
  line-height: 120%;
}
.banner_container h1 span {
  font-family: secondary-font;
}
.banner_container p {
  font-size: 1.33rem;
  margin: 20px 0;
  color: var(--pera-color);
}

.banner_image_container {
  width: 100%;
  text-align: right;
}
.banner_container .banner_right {
  position: relative;
}

.video_tutorial_container {
  display: flex;
  align-items: center;
  padding: 12px 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  width: fit-content;
  position: absolute;
  bottom: 88px;
  left: 77px;
  transition: all 1s;
}
.video_tutorial_container .video_tutorial_left {
  width: 40px;
  height: 40px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  margin-right: 10px;
}
.banner_left_first_button {
  margin-right: 14px;
}
.video_tutorial_container .video_tutorial_right h2 {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.3px;
}
.video_tutorial_container .video_tutorial_right p {
  font-size: 1.33rem;
  margin-bottom: 0px;
}
.banner_container .workout_video_container {
  align-items: center;
  padding: 12px 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  width: fit-content;
  position: absolute;
  top: 143px;
  right: -95px;
  transition: all 1s;
}
.banner_container .workout_video_container h2 {
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;
  font-size: 3.33rem;
}
.banner_container .workout_video_container p {
  margin: 10px 0 0px;
}

/* Habit Section */
.habits_container {
  width: var(--laptop-width);
  border: 1px solid black;
  margin: 100px auto;
}
.habits_container .habits {
  margin-top: 58px;
}
.habits_container_desctription {
  max-width: 671px;
  text-align: center;
  margin: 0px auto;
}
.habits_container_desctription h2 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 120%;
}
.habits_container_desctription p {
  /* color: rgba(255, 255, 255, 0.5); */
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.habits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  text-align: center;
}
.habit img {
  border-radius: 50%;
  border: 10px solid #1a1a1a;
}
.habit h3 {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 120%;
}
.habit p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
}

/* Respinsive Design */
@media screen and (max-width: 576px) {
  html {
    font-size: 8px;
  }
  .btn {
    padding: 14px 22px;
  }
  /* Nav bar */

  nav {
    width: var(--phone-width);
  }
  nav > ul {
    border: 0;
  }
  .menu {
    display: none;
  }
  .icon {
    display: inline-block;
  }
  .icon i {
    font-size: 2.5rem;
  }

  /* Banner section */
  .banner_container {
    width: var(--phone-width);
    grid-template-columns: 1fr;
  }
  .banner_container h1 {
    font-size: 4.9rem;
    font-weight: 900;
    line-height: 120%;
    color: white;
  }
  .banner_image_container {
    width: 100%;
    text-align: center;
  }
  .banner_container .banner_right img {
    width: 80%;
  }

  .banner_container .workout_video_container {
    padding: 8px 16px;
    top: 45px;
    right: 15px;
    font-size: 3.8rem;
  }
  .banner_container .workout_video_container p {
    margin-top: 3px;
  }
  .video_tutorial_container {
    bottom: 88px;
    left: 77px;
  }
  .banner_container p {
    margin-top: 12px;
  }
  .video_tutorial_container .video_tutorial_right h2 {
    font-size: 2.5rem;
  }
  .video_tutorial_container {
    bottom: 187px;
    left: 16px;
  }
  /* Change habit  section */
  .habits_container {
    width: var(--phone-width);
    margin: 40px auto 70px;
  }
  .habits {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    padding: 0px 54px;
  }
}
