@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* custom font */
@font-face {
  font-family: secondary-font;
  src: url("../font/Miama.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* reset html font size */
html {
  font-size: 12px;
}

/* custom variable */
:root {
  --pera-color: rgba(255, 255, 255, 0.5);
  --first-pera-font-size: 1.33rem;
  --second-pera-font-size: 1.16rem;
  --first-header-font-size: 6.5rem;
  --second-header-font-size: 5.83rem;
  --third-header-font-sze: 4rem;
}
/* common css style */
body {
  font-family: "Inter", sans-serif;
}
/*   font-family: "Inter", sans-serif;
  font-family: secondary-font; */
