@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* custom font */
@font-face {
  font-family: secondary-font;
  src: url("../font/Miama.ttf");
}

* {
  margin: 0;
  padding: 0;
}
/*   font-family: "Inter", sans-serif;
  font-family: secondary-font; */
